h1{
font-family:courier;
color:blue;
}
h2{
font-family:courier;
color:blue;
}
p{
font-family:courier
}
body{
background-image:url("http://s1.bwallpapers.com/wallpapers/2014/01/27/spring-flowers-background_122005421.jpeg");
}
